In [2]:
import pandas as pd

df = pd.read_csv('AfricaCupofNationsMatches.csv')

In [3]:
print(df.head(7))

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

In [4]:
print(df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']])

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

In [5]:
egypt_rows = df[(df['HomeTeam'].str.contains('Egypt', na=False)) | (df['AwayTeam'].str.contains('Egypt', na=False))]
print(egypt_rows)

     Year                         Date   Time  HomeTeam       AwayTeam  \
0    1957                     10-Feb-57    NaN   Sudan           Egypt
2    1957                     16-Feb-57    NaN   Egypt        Ethiopia
3    1959                     22-May-59    NaN    Egypt       Ethiopia
5    1959                     29-May-59    NaN    Egypt          Sudan
7    1962                     18-Jan-62    NaN    Egypt         Uganda
..    ...                           ...    ...      ...            ...
569  2017  5 February 2017 (2017-02-05)  20:00   Egypt        Cameroon
570  2019     21 June 2019 (2019-06-21)  22:00   Egypt        Zimbabwe
573  2019     26 June 2019 (2019-06-26)  22:00   Egypt        DR Congo
574  2019     30 June 2019 (2019-06-30)  21:00  Uganda           Egypt
609  2019      6 July 2019 (2019-07-06)  21:00   Egypt    South Africa

     HomeTeamGoals  AwayTeamGoals             Stage SpecialWinConditions  \
0              1.0            2.0        Semifinals                  NaN
2              4.0            0.0             Final                  NaN
3              4.0            0.0  Final Tournament                  NaN
5              2.0            1.0  Final Tournament                  NaN
7              2.0            1.0        Semifinals                  NaN
..             ...            ...               ...                  ...
569            1.0            2.0             Final                  NaN
570            1.0            0.0           Group A                  NaN
573            2.0            0.0           Group A                  NaN
574            0.0            2.0           Group A                  NaN
609            0.0            1.0       Round of 16                  NaN

                         Stadium          City  Attendance
0              Municipal Stadium      Khartoum     30000.0
2              Municipal Stadium      Khartoum     30000.0
3          Prince Farouk Stadium         Cairo     30000.0
5          Prince Farouk Stadium         Cairo     30000.0
7         Hailé Sélassié Stadium   Addis Ababa     30000.0
..                           ...           ...         ...
569            Stade de l'Amitié    Libreville         NaN
570  Cairo International Stadium         Cairo     73299.0
573  Cairo International Stadium         Cairo     74219.0
574  Cairo International Stadium         Cairo     74566.0
609  Cairo International Stadium         Cairo     75000.0

[95 rows x 12 columns]

In [6]:
print("Rows:", df.shape[0], "Columns:", df.shape[1])

Rows: 622 Columns: 12

In [7]:
missing_attendance = df[df['Attendance'].isnull()]
print(missing_attendance)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

In [8]:
filtered = df[df['HomeTeamGoals'].between(3, 6, inclusive='both')]
print(filtered)

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]

In [9]:
df.at[2, 'AwayTeamGoals'] = 10
print(df.iloc[2])

Year                                 1957
Date                            16-Feb-57
Time                                  NaN
HomeTeam                           Egypt
AwayTeam                         Ethiopia
HomeTeamGoals                         4.0
AwayTeamGoals                        10.0
Stage                               Final
SpecialWinConditions                  NaN
Stadium                 Municipal Stadium
City                             Khartoum
Attendance                        30000.0
Name: 2, dtype: object

In [10]:
sorted_df = df.sort_values(['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])
print(sorted_df.head())

     Year      Date  Time   HomeTeam  AwayTeam  HomeTeamGoals  AwayTeamGoals  \
205  1990   2-Mar-90   NaN  Algeria    Nigeria            5.0            1.0
29   1968  14-Jan-68   NaN  Algeria     Uganda            4.0            0.0
135  1980  16-Mar-80   NaN  Algeria     Guinea            3.0            2.0
164  1984   5-Mar-84   NaN  Algeria     Malawi            3.0            0.0
171  1984  17-Mar-84   NaN  Algeria      Egypt            3.0            1.0

                 Stage SpecialWinConditions                       Stadium  \
205            Group A                  NaN          Stade 5 Juillet 1962
29             Group A                  NaN        Hailé Sélassié Stadium
135            Group B                  NaN               Liberty Stadium
164            Group B                  NaN                  Stade Bouaké
171  Third place match                  NaN  Stade Félix Houphouët-Boigny

             City  Attendance
205       Algiers     85000.0
29    Addis Ababa     25000.0
135        Ibadan     20000.0
164        Bouaké     10000.0
171       Abidjan       500.0

In [11]:
print(list(df.columns))

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [12]:
df['TournamentYear'] = df['Year']
print(df.head())

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance  TournamentYear
0   Khartoum     30000.0            1957
1        NaN         NaN            1957
2   Khartoum     30000.0            1957
3      Cairo     30000.0            1959
4      Cairo     20000.0            1959

In [13]:
new_rows = pd.DataFrame([{'Year': 2025, 'HomeTeam': 'Test1', 'AwayTeam': 'Test2', 'HomeTeamGoals': 1, 'AwayTeamGoals': 2},
                         {'Year': 2025, 'HomeTeam': 'Test3', 'AwayTeam': 'Test4', 'HomeTeamGoals': 0, 'AwayTeamGoals': 0}])
df = pd.concat([df, new_rows], ignore_index=True)
print(df.tail(2))

     Year Date  Time  HomeTeam AwayTeam  HomeTeamGoals  AwayTeamGoals Stage  \
622  2025   NaN   NaN    Test1    Test2            1.0            2.0   NaN
623  2025   NaN   NaN    Test3    Test4            0.0            0.0   NaN

    SpecialWinConditions Stadium City  Attendance  TournamentYear
622                  NaN     NaN  NaN         NaN             NaN
623                  NaN     NaN  NaN         NaN             NaN

In [14]:
df['AwayTeam'] = df['AwayTeam'].replace('Uganda', 'China')

In [15]:
df = df.reset_index(drop=True)

In [16]:
print('Stadium' in df.columns)

True

In [17]:
df['AwayTeamGoals'] = pd.to_numeric(df['AwayTeamGoals'], errors='coerce').astype(float)

In [18]:
df = df.iloc[:-10]

In [19]:
for idx, row in df.iterrows():
    print(row['HomeTeam'], row['AwayTeam'])
    if idx > 5: break  # Just to avoid too much output

Sudan   Egypt
Ethiopia   South Africa
Egypt   Ethiopia
Egypt  Ethiopia
Sudan   Ethiopia
Egypt  Sudan
Ethiopia   Tunisia

In [20]:
cols = ['Year', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals'] + [col for col in df.columns if col not in ['Year', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]
df = df[cols]

In [21]:
df = df[df['HomeTeamGoals'] != 0]